<!DOCTYPE html>
<html>
<head>
    <title>Manage Samples - TG-Spam</title>
    {{template "heads.html"}}
</head>
<body>
{{template "navbar.html"}}

<div class="container mt-4">
    <h2>Manage Samples</h2>

    <!-- Forms for Adding New Samples -->
    <div class="row mb-4">
        <div class="col-md-6 mb-3">
            <form hx-post="/update/spam" hx-target="#samples-list" hx-swap="innerHTML" hx-on::after-request="this.reset()">
                <textarea name="msg" class="form-control mb-2" placeholder="Enter spam sample"></textarea>
                <button type="submit" class="btn btn-danger">Add Spam</button>
            </form>
        </div>
        <div class="col-md-6">
            <form hx-post="/update/ham" hx-target="#samples-list" hx-swap="innerHTML" hx-on::after-request="this.reset()">
                <textarea name="msg" class="form-control mb-2" placeholder="Enter ham sample"></textarea>
                <button type="submit" class="btn btn-success">Add Ham</button>
            </form>
        </div>
    </div>

    <!-- Include the samples list template -->
    {{template "samples_list" .}}
</div>

</body>
</html>


<!-- list of samples, both spam and ham -->
{{define "samples_list"}}
    <div class="row" id="samples-list">
        <div class="col-md-6">
            <h4>
                Spam Samples ({{.TotalSpamSamples}})
                <a href="/download/spam" class="btn btn-custom-blue btn-sm">Download</a>
            </h4>
            <ul class="list-group" id="spam-samples-list">
                {{range .SpamSamples}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span id="loading-{{.ID}}">{{.Sample}} <img class="htmx-indicator" src="/spinner.svg"/></span>
                        <form method="POST" hx-post="/delete/spam" hx-target="#samples-list" hx-swap="outerHTML" hx-indicator="#loading-{{.ID}}">
                            <input type="hidden" name="msg" value="{{.Sample}}">
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </li>
                {{else}}
                    <li class="list-group-item">No spam samples found</li>
                {{end}}
            </ul>
        </div>

        <div class="col-md-6">
            <h4>
                Ham Samples ({{.TotalHamSamples}})
                <a href="/download/ham" class="btn btn-custom-blue btn-sm">Download</a>
            </h4>
            <ul class="list-group" id="ham-samples-list">
                {{range .HamSamples}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{.Sample}}
                        <form method="POST" hx-post="/delete/ham" hx-target="#samples-list" hx-swap="outerHTML">
                            <input type="hidden" name="msg" value="{{.Sample}}">
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </li>
                {{else}}
                    <li class="list-group-item">No ham samples found</li>
                {{end}}
            </ul>
        </div>
    </div>
{{end}}
