<!DOCTYPE html>
<html>
<head>
    <title>Manage Users - TG-Spam</title>
    {{template "heads.html"}}
</head>
<body>
{{template "navbar.html"}}

<div class="container mt-4">
    <h2>Manage Approved Users</h2>

    <!-- Form for Adding a New Approved User -->
    <div class="row mb-4">
        <div class="col-12">
            <form hx-post="/users/add" hx-target="#users-list" hx-swap="outerHTML" hx-error="#error-message" hx-on::after-request="this.reset()">
                <div class="input-group mb-3 flex-wrap">
                    <input type="text" name="user_id" class="form-control me-2 mb-2 mb-md-0" placeholder="User ID">
                    <input type="text" name="user_name" class="form-control me-3 mb-2 mb-md-0" placeholder="User Name">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Add to Approved Users
                    </button>
                </div>
            </form>
        </div>
    </div>


    {{template "users_list" .}}
</div>

</body>
</html>


<!-- list of users -->
{{define "users_list"}}
<div class="row" id="users-list">
    <div class="col-md-12">
        <div id="error-message"></div> <!-- Error message container -->
        <h4>Approved Users ({{.TotalApprovedUsers}})</h4>
        <table class="table table-striped">
            <thead class="custom-table-header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Timestamp</th>
                <th></th> <!-- Header for the action column -->
            </tr>
            </thead>
            <tbody>
            {{range .ApprovedUsers}}
                <tr>
                    <td>{{.UserID}}</td>
                    <td>{{.UserName}}</td>
                    <td>{{.Timestamp.Format "2006-01-02 15:04:05"}}</td>
                    <td class="text-end">
                        <form method="POST" hx-post="/users/delete" hx-target="#users-list" hx-swap="outerHTML" class="d-inline">
                            <input type="hidden" name="user_id" value="{{.UserID}}">
                            <button type="submit" class="btn btn-danger btn-sm" title="Delete User">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="4">No approved users found</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
