body, #result{
    background-color: #e8e8e8;
    color: #5a5d5d;
}

.custom-table-header {
    background-color: #7c8994;
    color: white;
}


.ds-timestamp {
    min-width: 100px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ds-text {
    font-size: 1em;
    min-width: 200px;
    max-width: 500px;
    overflow: hidden;
}

.ds-checks {
    font-size: 0.9em;
    min-width: 200px;
    max-width: 500px;
    overflow: hidden;
}
