body, #result{
    background-color: #e8e8e8;
    color: #5a5d5d;
}

.custom-table-header {
    background-color: #7c8994;
    color: white;
}


.ds-timestamp {
    min-width: 50px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ds-text {
    font-size: 1em;
    min-width: 200px;
    max-width: 500px;
    overflow: hidden;
}

.ds-username {
    min-width: 50px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ds-checks {
    font-size: 0.9em;
    min-width: 200px;
    max-width: 500px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .ds-text, .ds-checks {
        max-width: 150px;
    }
}

.btn-custom-blue {
    color: #eee;
    background-color: #286ea7;
    border-color: #3d86e5;
}

.btn-custom-blue:hover {
    color: #fff;
    background-color: #3286cb;
    border-color: #3d86e5;
}

.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

/* Fix dropdown toggle styling */
.no-focus-highlight,
.no-focus-highlight:focus,
.no-focus-highlight:active,
.no-focus-highlight.show {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}