<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/logo.png" alt="Logo" style="height: 30px;"> TG-Spam
        </a>

        <!-- Navbar Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Checker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_samples">Manage Samples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_users">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/detected_spam">Detected Spam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list_settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
