<div class="row" id="samples-list">
    <div class="col-md-6">
        <h4>Spam Samples</h4>
        <ul class="list-group" id="spam-samples-list">
            {{range .SpamSamples}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{.}}
                <form method="POST" hx-post="/delete/spam" hx-target="#samples-list" hx-swap="outerHTML">
                    <input type="hidden" name="msg" value="{{.}}">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
            </li>
            {{else}}
            <li class="list-group-item">No spam samples found</li>
            {{end}}
        </ul>
    </div>

    <div class="col-md-6">
        <h4>Ham Samples</h4>
        <ul class="list-group" id="ham-samples-list">
            {{range .HamSamples}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{.}}
                <form method="POST" hx-post="/delete/ham" hx-target="#samples-list" hx-swap="outerHTML">
                    <input type="hidden" name="msg" value="{{.}}">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
            </li>
            {{else}}
            <li class="list-group-item">No ham samples found</li>
            {{end}}
        </ul>
    </div>

</div>