name: build-app
on:
  push:
    branches:
    tags:
    paths_ignored:
      - ".github/workflows/updater.yml"
      - "updater/**"
      - "**.md"
  pull_request:
    paths_ignored:
      - ".github/workflows/updater.yml"
      - "updater/**"
      - "**.md"


jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v6

    - name: set up go
      uses: actions/setup-go@v6
      with:
        go-version: "1.25"
      id: go

    - name: build and test
      run: |
        go test -v -race -timeout=180s -covermode=atomic -coverprofile=$GITHUB_WORKSPACE/profile.cov_tmp ./...
        go build -race ./...
        cat $GITHUB_WORKSPACE/profile.cov_tmp | grep -v "mocks" | grep -v "_mock" > $GITHUB_WORKSPACE/profile.cov
      env:
        TZ: "America/Chicago"

    - name: test examples
      run: |
        go test -race ./...
        go build -race ./...
      working-directory: _examples/simplechat
      env:
        TZ: "America/Chicago"

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.6.2

    - name: golangci-lint on example directory
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.6.2
        args: --config ../../.golangci.yml
        working-directory: _examples/simplechat

    - name: install goveralls
      run: go install github.com/mattn/goveralls@latest

    - name: submit coverage
      run: $(go env GOPATH)/bin/goveralls -service="github" -coverprofile=$GITHUB_WORKSPACE/profile.cov
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      continue-on-error: true
